.file {
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  min-height: 50px;
  font-size: 20px;
  padding: 5px;
}

.file .mdEdit{
  background-color: orange;
}

.file .edit-file-button{
  margin-left: 10px;
  margin-right: 4px;
  color: lightgray;
  font-size: 18px;
}

.file .edit-file-button:hover{
  color: grey;
  border-radius: 3px;
}

.file .drive-btn {
  width:80px;
  min-height: 20px;
  margin-left: auto;
  border-radius: 3px;
}

.file .drive-btn:hover{
  cursor: pointer;
}

.file .file-description {
  font-size: 14px;
  text-align: left;
}

.file-edit-input {
  height: 22px;
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  width: 300px;
  border: 1px solid black;
}

.apply-button {
  color: limegreen;
  font-size:30px;
  text-align: right;
}

.apply-button:hover{
  color: green;
}

.orange{
  background-color: rgba(255, 165, 0, 0.43);
}

.file-edit-input:focus{
  outline: none;
}

.file .name {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.file .createDate {
  font-size: 14px;
  color: lightgray;
  margin-left: auto;
}

.file .row {
  display: flex;
}
