.my-studies-list{
  padding: 10px;
  min-height: 100%;
}

.academy{
  border-bottom: #bfbfbf solid 1px;
  min-height: 20px;
}
.list-option{
  min-height: 24px;
  text-align: center;
  border-bottom: #cbcbcb solid 1px;
}
.list-info-label{
  text-align: left;
}
.list-option:hover{
  background-color: #bfbfbf;
  cursor: pointer;
}

li {list-style-type: none;}
