#app {
  height: inherit;
  background-color: #f1f1f1;
}

.app{
  height: inherit;
}

.login-screen{
  text-align: center;
  height: inherit;
  margin-top:200px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: orange;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.navbar .option {
  min-width: 150px;
  min-height: 24px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  margin: 5px;
  text-align: center;
  border-radius: 3px;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
}

.navbar .option:hover{
  background-color: #f49f00;
}

.navbar .option .selected {
  background-color: grey;
}

a{
  text-decoration: none;
  color: grey;
}


.page-content {
  text-align: center;
  height: inherit;
}


