#app {
  height: inherit;
}

.app{
  height: inherit;
}

.nav{
  height: 60px;
}

.login-screen{
  text-align: center;
  background-color: white;
  height: inherit;
  padding-top:100px;
}

.si-color{
  background-color: #563d7c !important;
}

.si-color-text{
  color: #cbbde2 !important;
}

.si-yellow{
  background-color: #ffe484 !important;
}

.si-yellow-text{
  color: #ffe484 !important;
}

.si-navbar-option{
  font-size: 16px !important;
}
.login-content{
  border: 1px solid lightgray;
  width: 642px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

.login-description{
  display: inline-block;
  width: 400px;
  vertical-align: middle;
}

.login-image{
  display: inline-block;
}

.login-button{
  background-color: #3B5998;
  height: 34px;
  border-radius: 2px;
  width: 200px;
  color: white;
  border: none;
}

.login-button:hover{
  cursor: pointer;
  background-color: #313d72;
}

a{
  text-decoration: none;
  color: grey;
}

.page-content {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
}


