#app {
  height: inherit;
}

.app{
  height: inherit;
}

.login-screen{
  text-align: center;
  background-color: white;
  height: inherit;
  padding-top:100px;
}

.login-content{
  border: 1px solid lightgray;
  width: 642px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

.login-description{
  display: inline-block;
  width: 400px;
  vertical-align: middle;
}

.login-image{
  display: inline-block;
}

.login-button{
  background-color: #3B5998;
  height: 34px;
  border-radius: 2px;
  width: 200px;
  color: white;
  border: none;
}

.login-button:hover{
  cursor: pointer;
  background-color: #313d72;
}

.user-email{
  margin-left: auto;
  color: white;
  margin-right: 40px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: orange;
  display: flex;
  height: 40px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.navbar .option {
  min-width: 150px;
  min-height: 24px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  margin: 5px;
  text-align: center;
  border-radius: 3px;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  color:grey;
}

.navbar .option:hover{
  background-color: #f49f00;
}

.navbar .option .selected {
  background-color: grey;
}

a{
  text-decoration: none;
  color: grey;
}


.page-content {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
}


