.my-files-page {
  height: inherit;
}

.my-files-page .my-studies-column{
  background-color: white;
  width: 300px;
  min-height: 600px;
  display: inline-block;
  border: rgba(155, 155, 155, 0.23) solid 1px;
  vertical-align: top;
  height: inherit;
}
.my-files-page .files-column{
  background-color: white;
  width: 600px;
  display: inline-block;
  height: inherit;

}
